<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>403033282790-qlmse1pdd9rokoq2elsla3578utnmuit.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.403033282790-qlmse1pdd9rokoq2elsla3578utnmuit</string>
	<key>API_KEY</key>
	<string>AIzaSyDmWrGdoi7gCwL3M675Q5NMevW5jjB_5wc</string>
	<key>GCM_SENDER_ID</key>
	<string>403033282790</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.krimsontech.OneP2P</string>
	<key>PROJECT_ID</key>
	<string>onep2ptest</string>
	<key>STORAGE_BUCKET</key>
	<string>onep2ptest.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:403033282790:ios:a73db62fab05e852fd4327</string>
</dict>
</plist>